<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Page not found</title>
		<link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
		</head>
	<body>
		<div class="container-fluid">
			<div class="hero-unit">
				<h1>This is not the page you're looking for.</h1>
				<p>Sorry, we didn't find the page you were looking for.</p>
				<p><a href="/" class="btn btn-primary btn-large">Go to the homepage</a></p>
			</div>
		</div>
	</body>
</html>